@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
  }
}
